{{#cl-box}}
  <h2 class="mt0">About Caloriculator</h2>
  <hr>
  <p>
    This is a small toolbox to help you explore different dieting options based on your goals, schedule, and level of intensity.
  </p>
  <p>This is not medical advice. Use at your own risk.</p>
{{/cl-box}}
